<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weather</title>
  <link rel="stylesheet" href="css/styles2.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body style="margin:0;">
  <img class="weatherImage" src="images/sky7.jpg" style="max-width:100%; max-height:100%" alt="">
  <a href="/"><img class="HomeButton" src="images/code.png" height="50" width="50" alt=""></a>
  <div class="wrapper">
    <div class="container-fluid">
      <form class="" action="/weather" method="post">
        <input type="text" name="city" placeholder="Enter City" autocomplete="off"><br><br>
        <button class="btn btn-md btn-dark" style="margin-left:35px" type="submit" name="submit">Submit</button>
        <hr class="hr">
      </form>
      <h5 style="color:#DCDCDC">Weather Details</h5>
      <br>
      <p style="display:inline-block;color:#DCDCDC">Cloudy</p>
      <p style="display:inline-block; margin-left:325px; color:#DCDCDC"> <%=cloudy %> % </p><br><br>
      <p style="display:inline-block;color:#DCDCDC">Humidity</p>
      <p style="display:inline-block; margin-left:310px; color:#DCDCDC"> <%=humidity %> % </p><br><br>
      <p style="display:inline-block;color:#DCDCDC">Wind</p>
      <p style="display:inline-block; margin-left:300px; color:#DCDCDC"> <%=wind %> Km/h </p><br><br>
    </div>
    <hr class="hr">
  </div>

  <div data-aos="fade-up" class="floatingInfo">
    <h3 style="color:white"><%=temp%></h3>
    <p style="color:white"><%=desc%></p><img style="margin:-30px;" src="<%= weatherIcon %>" alt="">
  </div>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="app.js" charset="utf-8"></script>
</body>

</html>
